@page "/"

@using SolarisRec.Core.Account.Processes.PrimaryPorts
@inject ILoginService loginService
@inject IRegisterAccountService registerAccountService

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Account Name</h2>
<input @bind="AccountName" />
<br />

<h2>Password</h2>
<input @bind="Password" />
<br />

<h3>Email</h3>
<input @bind="Email" />
<br />

<button @onclick="Create">Create</button>
<br />
<button @onclick="Login">Login</button>

<SurveyPrompt Title="How is Blazor working for you?" />

<label>Logged in as @LoggedInAs</label>
